/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=DM+Serif+Text&display=swap');

/* Generic Styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #fc4600;
}