/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=DM+Serif+Text&display=swap');

/* Generic Styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #fc4600;
    font-family: 'Alice, serif';
}

.heading-font {
    font-family: 'DM Serif Text', serif;
}

/* Header Styling */
#main-header {
    background: url(../assets/images/white-keyboard.webp) center center;
    background-size: auto;
    background-position: bottom;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    height: 220px;
    width: auto;
    margin: 0 auto;
    z-index: 1;
}

.sub-header {
    display: flex;
    flex-grow: 2;
    height: 220px;
}

.sub-header1 {
    width: 7.5rem;
}

.sub-header2 {
    width: 45%;
}

/* logo styling */
#logo img {
    height: 230px;
    width: 183px;
    border-radius: 50%;
    margin: 0 4px;
    z-index: 3;
    animation: pass 6s infinite;
    animation-fill-mode: forwards;
}

#logo {
    display: flex;
    position: relative;
    top: 38.5px;
    margin-left: 12px;
    height: 220px;
    width: 182px;
    border-radius: 50%;
    background: #FF7F50;
    z-index: 1;
}

/* logo animation */
@keyframes pass {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

/* name styling */
#name {
    display: flex;
    flex-wrap: wrap;
    margin: 0.3rem auto;
    width: 63%;
    justify-content: space-around;
    background-image: url(../assets/images/bluberries.webp);
    color: transparent;
    -webkit-background-clip: text;
    animation: name 60s infinite linear;
}

#name>h1 {
    font-size: 300%;
    font-weight: bolder;
}

#name>h2 {
    font-size: 170%;
    font-weight: bolder;
    text-align: center;
}

/* Name zoom animation */
@keyframes name {

    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 100%;
    }

}

/* navbar styling */
.navbar-toggler {
    margin-right: 0.7rem;
}

.navbar-nav .nav-item a {
    font-size: 120%;
    font-weight: bolder;
}

.offcanvas {
    background-color: #e8e9ebda;
}

/* motto styling */
#motto h3 {
    font-size: 150%;
    font-weight: bolder;
    word-spacing: 0.1rem;
    letter-spacing: 0.3rem;
    text-align: center;
    color: #36454fd8;
}

/* footer styling */
footer {
    background-color: #d3d3d33f;
    color: black;
    min-height: 120px;
    width: 100%;
    text-align: center;
    padding: 0.8rem 0.5rem 0.5rem;
}

#download-cv {
    display: inline-block;
    color: #36454f;
    font-weight: 600;
}

#social-media,
li,
a {
    font-size: 125%;
    color: #36454f;
}

/*mid section styling*/
/*Skill set heading style*/
.skill-set {
    margin-top: 1.5rem;
    font-size: 200%;
}

/*Skill set sub-heading style*/
.skill-box h4 {
    color: #36454fd8;
}

.skill-box p {
    font-size: 130%;
}

/*About styling*/
/*About container styling*/
.about-container {
    height: auto;
    width: 100%;
    border: 1px solid #e8e9eb;
    border-radius: 7px;
    background: #e8e9ebe9 url(../assets/images/lion.webp) no-repeat fixed top;
    background-size: cover;
    color: #36454f;
    z-index: 1;
}

.about-container-1 {
    height:auto;
    width: 100%;
    padding: 4rem 2rem;
    border: 1px solid #e8e9eb9a;
    border-radius: 3px;
    background-color: #e8e9ebc3;
    color: #36454f;
    font-weight: 600;
    font-size: 140%;
    z-index: 2;
}

.about-text>p {
z-index: 3;
}

/* media queries */
@media screen and (max-width: 1050px) {

    #motto {
        margin-left: 13rem;
    }

}

@media screen and (max-width: 991px) {

    .navbar-nav .nav-item a {
        padding-left: 1.4rem;
        font-size: 110%;
        width: 60%;
    }

}

@media screen and (max-width: 660px) {

    #name>h1 {
        font-size: 220%;
    }

}

@media screen and (max-width: 534px) {

    .sub-header1 {
        width: 10%;
    }

    #logo img {
        height: 190px;
        width: 146px;
        margin: 0 1px;
    }

    #logo {
        height: 180px;
        width: 145px;
    }

    #motto {
        margin: 1rem;
    }

}

@media screen and (max-width: 475px) {

    #name {
        position: relative;
        top: 14.5rem;
        width: auto;
    }

    #motto h3 {
        margin-top: 14.5rem;
    }

    .about-container-1 {
        font-size: 110%;
        font-family: 400;
        padding: 1rem 0.4rem;
    }

}