/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=DM+Serif+Text&display=swap');

/* Generic Styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #fc4600;
    font-family: 'Alice, serif';
}

.heading-font {
    font-family: 'DM Serif Text', serif;
}

/* Header Styling */
#main-header {
    background: url(../assets/images/bg-img-lg.webp) center center;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    height: 100vh;
    width: auto;
    margin: 0 auto;
    z-index: -1;
}

.sub-header {
    display: flex;
    flex-grow: 3;
    height: 220px;
}

.sub-header1 {
    width: 7.5rem;
}

/* logo styling */
#logo img {
    height: 230px;
    width: 183px;
    border-radius: 50%;
    margin: 0 8px;
    z-index: 3;
    animation: pass 6s infinite;
    animation-fill-mode: forwards;
}

#logo {
    display: flex;
    position: relative;
    top: 38.5px;
    margin-left: 50px;
    height: 220px;
    width: 154px;
    border-radius: 50%;
    background: #7872764b;
}

/* logo animation */
@keyframes pass {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

/* name styling */
#name {
    width: 100%;
    justify-content: space-around;
    background-image: url(../assets/images/bluberries.webp);
    color: transparent;
    -webkit-background-clip: text;
    animation: name 10s infinite linear;
    z-index: 3;
}

#name>h1 {
    font-size: 600%;
    font-weight: bolder;
    z-index: 3;
}

#name>h2 {
    font-size: 400%;
    font-weight: bolder;
    text-align: center;
    z-index: 3;
}

/* Name zoom animation */
@keyframes name {

    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 100%;
    }

}

/* navbar styling */
.navbar-nav .nav-item a {
    font-size: 120%;
    font-weight: bolder;
    color: #e8e9eba9;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.726);
    z-index: 3;
}

.navbar-nav {
    padding-right: 3.5rem;
}

.navbar-nav .nav-link.active {
    color: #fafafa;
    font-weight: bolder;
}

.offcanvas {
    background-color: #36454fe7;
}

.offcanvas-title {
    color: #d3d3d3e4;
}

/* footer styling */
footer {
    background-color: #d3d3d33f;
    color: black;
    min-height: 120px;
    width: 100%;
    text-align: center;
    padding: 0.8rem 0.5rem 0.5rem;
}

#download-cv {
    display: inline-block;
    color: #36454f;
    font-weight: 600;
}

#social-media,
li,
a {
    font-size: 125%;
    color: #36454f;
}

/*mid section styling*/
/*Skill set heading style*/
.skill-set {
    margin-top: 1.5rem;
    font-size: 200%;
}

/*Skill set sub-heading style*/
.skill-box h4 {
    color: #36454fd8;
}

.skill-box p {
    font-size: 130%;
}

/*About styling*/
/*About container styling*/
.about-container {
    height: auto;
    width: 100%;
    border: 1px solid #e8e9eb;
    border-radius: 7px;
    background: #e8e9ebe9 url(../assets/images/lion.webp) no-repeat fixed top;
    background-size: cover;
    color: #36454f;
    z-index: -1;
}

.about-container-1 {
    height: auto;
    width: 100%;
    padding: 4rem 2rem;
    border: 1px solid #e8e9eb9a;
    border-radius: 3px;
    background-color: #fafafaac;
    color: #36454f;
    font-weight: 600;
    font-size: 140%;
    z-index: -1;
}

.about-text>p {
    z-index: 3;
    color: #000000;
}

/* Contact page styling */
.contact-form {
    width: 90%;
    margin: 0.8rem auto;
}

/* form column styling */
.offer-col {
    border-left: 2px solid #6e6969;
}

/* contact column styling */
#contact-details {
    margin: 0.1rem auto;
}

/* timeline styling */
.timeline-item {
    padding: 4em 2em 0em 1em;
    position: relative;
    color: #36454f;
    border-left: 1.3px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 2em;
    display: block;
    font-weight: 600;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
    color: black;
}

.timeline-item:after {
    position: absolute;
    width: 12px;
    height: 12px;
    left: -6px;
    top: 2em;
    display: block;
    border-radius: 12px;
    content: '';
    background-color: #36454f;
}

/* work column timeline styling */
.timeline-item1 {
    padding: 4em 2em 0em 1em;
    position: relative;
    color: #36454f;
    border-right: 1.3px solid;
}

.timeline-item1 p {
    padding: 0;
    margin: 0;
}

.timeline-item1:before {
    content: attr(data-date);
    position: absolute;
    right: 2.5em;
    top: 2em;
    display: block;
    font-weight: 600;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
    color: black;
}

.timeline-item1:after {
    position: absolute;
    width: 12px;
    height: 12px;
    right: -6px;
    top: 2em;
    display: block;
    border-radius: 12px;
    content: '';
    background-color: #36454f;
}

.work-col {
    text-align: right;
}

/* Competence progress styling */
.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #e8e9eb;
    background-color: #36454f36;
}

.bar-1 {
    width: 99%;
}

.bar-2 {
    width: 97%;
}

.bar-3 {
    width: 83%;
}

.bar-4 {
    width: 89%;
}

.bar-5 {
    width: 67%;
}

.sql-bar {
    width: 64%;
    background-color: #6e6e6eb5;
}

/* Cards styles */
.card {
    min-height: 28rem;
}

/* media queries */
@media screen and (max-width: 900px) {

    #main-header {
        background: url(../assets/images/img-bg-md.webp) center center;
    }

}

@media screen and (max-width: 991px) {

    .navbar-nav .nav-item a {
        padding-left: 1.4rem;
        font-size: 110%;
        width: 60%;
    }

    .offer-col {
        border-left: none;
    }

    #contact-details {
        font-size: 120%;
        text-align: center;
        margin-bottom: 1rem;
    }

    #name>h1 {
        font-size: 400%;
    }

    #name>h2 {
        font-size: 300%;
    }

}

@media screen and (max-width: 767px) {

    .work-col {
        margin-top: 3rem;
    }

    .competence-col {
        margin-top: 3rem;
    }

}

@media screen and (max-width: 534px) {

    .sub-header1 {
        width: 10%;
    }

    #logo img {
        height: 190px;
        width: 146px;
        margin: 0 1px;
    }

    #logo {
        height: 180px;
        width: 145px;
    }

}

@media screen and (max-width: 517px) {

    .name-box {
        top: 300px !important;
    }

    #name>h1 {
        margin-bottom: 1.4rem;
        line-height: 3.6rem;
    }

}

@media screen and (max-width: 475px) {

    .about-container-1 {
        font-size: 110%;
        font-family: 400;
        padding: 1rem 0.4rem;
    }

}

@media screen and (max-width: 412px) {

    #name>h2 {
        line-height: 3rem;
    }

    #name>h1 {
        line-height: 3.5rem;
    }

}

@media screen and (max-width: 340px) {

    #contact-details>p {
        font-size: 90%;
    }

}

@media screen and (max-width: 344px) {

    #name>h1 {
        line-height: 3.6rem;
    }

    #name>h2 {
        line-height: 2.8rem;
    }

}